# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.middleware

# Terraform directories
.terraform

# Jest reports
/tests/coverage/*

# Test database (sqlite) file
/tests/database.sqlite

terraform.tfstate
terraform.tfstate.backup
