# package directories
node_modules
jspm_packages

# Aws directories
.aws

# Serverless directories
.serverless/*
.middleware/*

# Terraform directories
.terraform/*

# Jest reports
/tests/coverage/*

# Test database (sqlite) file
/tests/database.sqlite

.env