# package directories
node_modules
jspm_packages
.mycredentials

# Serverless directories
.serverless

# Terraform directories
.terraform

# Jest reports
/tests/coverage/*

# Test database (sqlite) file
/tests/database.sqlite